body {
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Bebas Neue', 'Times New Roman', Times, serif;
}

.per
{
  margin-right: 5px;
}
.upper-part-div
{
  display: flex;
  justify-content: space-between;
}
.write-div
{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 38.5vmax;
  font-size: 50px;
  font-weight: bold;
}
.go-back-div
{
  display: flex;
  justify-content: center;
  align-items: center;
}
.incorrect-id-pass-div
{
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  font-size: 10px;
}
.incorrect-id-pass-div p
{
  margin: 0;
  padding: 0;
}